<% if user_signed_in? %>
<%= render 'users/user_info' %>

<% else %>
	<div class="center hero-unit">
	<h1>Welcome to the CIB Bank Payroll App</h1>
	<h2>
	This is the home page for the
CIB bank payroll application.
	</h2>
	<%= link_to "Sign up now!", new_user_registration_path,
	class: "btn btn-large btn-primary" %>
	</div>
<% end %>