<h2>CIB Bank | Log in</h2>



<%= form_tag users_sendrequestpassword_path do  %>

  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email %>
  </div>

  <div class="actions">
    <%= submit_tag "Send Password" %>
  </div>


<% end %>



