<% @passwordgenerate =  (0...8).map { (65 + rand(26)).chr }.join %>

<% @user.update_attributes(password: @passwordgenerate , password_confirmation: @passwordgenerate) %> 


<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.email %>!</h1>

<b>Your new Password  : </b>
 <%= @passwordgenerate %>

  </body>
</html>