// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payroll
{
    background: #E6E6E6;
    border: 1px solid #C3C2C2;
    padding: 45px;
    box-shadow: 0px 0px 3px #898989;
    margin: 0 30px; }